@import url('https://fonts.googleapis.com/css2?family=Genos&family=Merriweather+Sans&display=swap');

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor {
  animation: blink 1s infinite;
}
#textarea{
  font-family: 'Genos', sans-serif;
}
#logo{
  font-family: 'Merriweather Sans', sans-serif;
}
#wpm{
  font-family: 'Genos', sans-serif;

}